<div class="layout-row">
  <ul class="sidebar" data-test-id="year-list">
    <span class="section-title">Select Year</span>
    <li *ngFor="let year of years;" class="sidebar-item"
        [ngClass]="{'active': selectedYear === year}">
      <a>{{year}}</a>
    </li>
  </ul>

  <section class="content">
    <section>
      <h3 data-test-id="total-matches"></h3>
      <ul class="mr-20 matches styled slide-up-fade-in" data-test-id="match-list">
<!--        <li></li>-->
      </ul>
    </section>
    <p data-test-id="no-result" class="slide-up-fade-in"></p>
  </section>
</div>
